
:root{
    --default-color:#3A3A3A;
    --second-color:#787885;
    --btn-bg:#E02C6D;
    --foot-bg:#0A0826;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%) */
}

body{
    font-family: 'Poppins', sans-serif !important;
    color: var(--default-color) !important;
    background: lightcyan !important;
}

a{
    color: var(--default-color) !important;
    text-decoration: none !important;
}



/* Header Start */

.nav_bar ul li a {
    font-size: 14px;
    transition: all 0.3s;
    font-weight: 500;
}

.nav_bar ul li {
    padding: 0px 10px;
}

.nav_bar ul li:hover a{
    color: var(--btn-bg) !important;
}

.logo h3 a{
    font-size: 22px;
    font-weight: 600;
}

.main_body_img img {
    background-image: url('../images/Circle_design.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Header End */



/* Main Body Section Start */

.main_body_wrapper{
    gap: 100px;
}

.main_body_txt p {
    font-size: 0.85rem;
}

.main_btn {
    background-color: var(--btn-bg);
    color: #fff;
    border: 1px solid var(--btn-bg);
    padding: 8px 12px;
    transition: all 0.5s;
    font-weight: 500;
}

.main_btn:hover{
    color: var(--btn-bg);
    background-color: #fff;
}

/* Main Body Section End */


/* Sponsor Section Start */

#sponsor_sec {
    padding: 120px 0px;
}

.spons_wrapper {
    box-shadow: 2px 3px 5px rgb(0 0 0 / 15%), -2px -3px 5px rgb(0 0 0 / 15%);
    padding: 30px 0px;
}

/* Sponsor Section End */



/* Collection Section Start */



/* Collection Section End */